* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
}

.inactive {
  display: none;
}

.container-header {
  width: 100%;
  min-width: 320px;
}

.nav-container {
  width: 100%;
  height: 100px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 520px) {
  .nav-container {
    margin-top: 3rem;
  }
}
.nav-container__title {
  font-size: 3rem;
  margin-left: 4rem;
}
.nav-container__list {
  display: flex;
  width: 600px;
  gap: 8rem;
}
@media screen and (max-width: 950px) {
  .nav-container__list {
    display: none;
  }
}
.nav-container__list li {
  list-style: none;
}
.nav-container__list li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
  font-weight: 600;
}
.nav-container__list li a:hover {
  font-size: 1.8rem;
}

.container-button-dark-mode {
  width: 40px;
  height: 40px;
  margin-right: 4rem;
  border-radius: 50%;
  border: none;
  background-color: #000;
  cursor: pointer;
}

.container-second-color {
  background-color: #fff;
}

.inactive {
  display: none;
}

.background-body {
  background-color: #000;
  color: #fff;
}

.background-body li a {
  background-color: #000;
  color: #fff;
}

.container-main {
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  position: relative;
}
@media screen and (max-width: 950px) {
  .container-main {
    flex-wrap: wrap-reverse;
  }
}

.container-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 950px) {
  .container-info {
    width: 100%;
    align-items: center;
  }
}
.container-info__text {
  width: 50%;
}
@media screen and (max-width: 520px) {
  .container-info__text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 950px) {
  .container-info__text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.container-info__text__profession {
  font-size: 1.8rem;
  font-weight: 600;
  color: #880788;
}
.container-info__text__title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 6rem;
  min-width: 300px;
}
.container-info__text__info {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.2rem;
  margin-top: 1rem;
  min-width: 300px;
}
@media screen and (max-width: 950px) {
  .container-info__text__info {
    max-width: 400px;
  }
}
.container-info__buttons {
  margin-top: 5rem;
  display: flex;
  width: 50%;
}
@media screen and (max-width: 520px) {
  .container-info__buttons {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
  }
}
@media screen and (max-width: 950px) {
  .container-info__buttons {
    margin-bottom: 4rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
  }
}
.container-info__buttons__primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  min-width: 130px;
  height: 35px;
  border: none;
  border-radius: 1.5rem;
  background-color: #000;
  color: #fff;
  gap: 1rem;
  cursor: pointer;
}
.container-info__buttons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  min-width: 130px;
  color: #880788;
  font-size: 1.6rem;
  font-weight: 600;
  gap: 0.3rem;
  text-decoration: none;
}
@media screen and (max-width: 520px) {
  .container-info__buttons__link {
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
}

.text-color-dark {
  color: #00ffff;
}

.button-dark-mode {
  background-color: #fff;
  color: #000;
  font-size: 13.3333px;
  font-weight: 700;
  font-family: Arial;
}

.container-img__img-main {
  width: 600px;
}
@media screen and (max-width: 950px) {
  .container-img__img-main {
    width: 500px;
  }
}
@media screen and (max-width: 520px) {
  .container-img__img-main {
    width: 380px;
  }
}

.container-hamburger {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 0 1rem 1rem 0;
  border: none;
  background-color: #880788;
  cursor: pointer;
}
@media screen and (min-width: 950px) {
  .container-hamburger {
    display: none;
  }
}

.container-menu {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (min-width: 950px) {
  .container-menu {
    display: none;
  }
}
.container-menu__container-button {
  width: 100%;
  height: 9rem;
  background-color: #000;
  display: flex;
  justify-content: end;
  align-items: center;
}
.container-menu__container-button__button {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 4rem;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.container-menu .container-menu__elements {
  width: 100%;
  height: 100%;
}
.container-menu .container-menu__elements__list-container {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.container-menu .container-menu__elements__list-container__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.container-menu .container-menu__elements__list-container__list li {
  list-style: none;
}
.container-menu .container-menu__elements__list-container__list li a {
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  font-size: 4rem;
  line-height: 10rem;
  color: #fff;
}
.container-menu .container-menu__elements__list-container__list li a:hover {
  color: #880788;
}

.main-about {
  /*position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;*/
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  position: relative;
}

.container-about-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media screen and (max-width: 950px) {
  .container-about-info {
    flex-wrap: wrap-reverse;
  }
}

.container-about {
  width: 50%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 950px) {
  .container-about {
    width: 100%;
    align-items: center;
  }
}
.container-about__title {
  font-size: 4rem;
}
.container-about__text {
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  max-width: 380px;
  text-align: justify;
}
@media screen and (max-width: 950px) {
  .container-about__text {
    margin-left: 0;
  }
}
.container-about__study-title {
  margin-left: 3rem;
  margin-top: 1rem;
}
@media screen and (max-width: 950px) {
  .container-about__study-title {
    margin-left: 0;
  }
}
.container-about__title-certification {
  margin-left: 3rem;
}

.container-button-web {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 1rem;
}
@media screen and (max-width: 950px) {
  .container-button-web {
    margin-left: 0;
  }
}
.container-button-web__github {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  min-width: 260px;
  height: 35px;
  border: none;
  border-radius: 1.5rem;
  background-color: #000;
  color: #fff;
  gap: 1rem;
  cursor: pointer;
}
.container-button-web__linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  min-width: 260px;
  height: 35px;
  border: none;
  border-radius: 1.5rem;
  background-color: #0077B7;
  color: #fff;
  gap: 1rem;
  cursor: pointer;
}
.container-button-web__cv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  min-width: 260px;
  height: 35px;
  border: none;
  border-radius: 1.5rem;
  background-color: #00A82D;
  color: #fff;
  gap: 1rem;
  cursor: pointer;
}
.container-button-web__certificacion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  min-width: 260px;
  height: 35px;
  border: none;
  border-radius: 1.5rem;
  background-color: #fff;
  color: #000;
  border: solid 2px #000;
  font-family: 1.8rem;
  font-weight: 600;
  gap: 1rem;
  cursor: pointer;
}

.container-about-study {
  width: 50%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 950px) {
  .container-about-study {
    width: 100%;
  }
}

.container-tools {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
}
@media screen and (max-width: 950px) {
  .container-tools {
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}

.container-about__study-title {
  margin-top: 2rem;
  min-width: 362px;
}
@media screen and (max-width: 520px) {
  .container-about__study-title {
    text-align: center;
  }
}
@media screen and (max-width: 950px) {
  .container-about__study-title {
    text-align: center;
  }
}

.container-div {
  display: flex;
  gap: 4rem;
}

.certification {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 2rem;
}

.certification-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  min-width: 130px;
  height: 35px;
  border: none;
  border-radius: 1.5rem;
  background-color: #0077B7;
  color: #fff;
  gap: 1rem;
  cursor: pointer;
  margin-left: 2rem;
}

.img-perfil-camara {
  width: 70%;
  height: 500px;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-top: 2rem;
}
@media screen and (max-width: 950px) {
  .img-perfil-camara {
    width: 500px;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 520px) {
  .img-perfil-camara {
    width: 380px;
  }
}

.array-tools {
  font-size: 1.8rem;
  font-weight: 600;
}

#github {
  width: 260px;
}

.button-dark-mode {
  background-color: #fff;
  color: #000;
  font-size: 13.3333px;
  font-weight: 700;
  font-family: Arial;
}

.container-contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-contact {
  width: 100%;
  display: flex;
  align-items: center;
}

.contact-img {
  width: 40%;
  min-width: 350px;
}
@media screen and (max-width: 520px) {
  .contact-img {
    display: none;
  }
}

.contact-img img {
  width: 100%;
  margin-top: 4rem;
  margin-left: 6rem;
}
@media screen and (max-width: 950px) {
  .contact-img img {
    margin-left: 0;
  }
}

.contact-form {
  width: 60%;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6rem;
}

.container-form {
  width: 290px;
  height: 350px;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}
.container-form__title {
  color: #000;
  font-size: 4rem;
}
.container-form__text {
  width: 250px;
  margin-top: 2rem;
  font-weight: 400;
}
.container-form__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
  align-items: center;
}
.container-form__form__input-name {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.8rem;
  border: solid 2px #000;
  padding-left: 1.5rem;
}
.container-form__form__input-name::placeholder {
  color: #000;
  font-size: 1.4rem;
}
.container-form__form__input-email {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.8rem;
  border: solid 2px #000;
  padding-left: 1.5rem;
}
.container-form__form__input-email::placeholder {
  color: #000;
  font-size: 1.4rem;
}
.container-form__form__textarea-mensaje {
  width: 100%;
  height: 9rem;
  border-radius: 0.8rem;
  border: solid 2px #000;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.container-form__form__textarea-mensaje::placeholder {
  color: #000;
  font-size: 1.5rem;
}
.container-form__form__button {
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 0.8rem;
  border: none;
  background-color: #000;
  margin-top: 2rem;
  color: #fff;
  cursor: pointer;
}

.container-redes {
  width: 40px;
  height: 195px;
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  margin-top: 13rem;
  justify-content: space-around;
  align-items: center;
}
.container-redes__red1 {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: none;
  background-color: #000;
  cursor: pointer;
}
.container-redes__red1 img {
  margin-top: 0.4rem;
}
.container-redes__red2 {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: none;
  background-color: #000;
  cursor: pointer;
}
.container-redes__red2 img {
  margin-top: 0.2rem;
}
.container-redes__red3 {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: none;
  background-color: #000;
  cursor: pointer;
}
.container-redes__red3 img {
  margin-top: 0.2rem;
}
.container-redes__red4 {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: none;
  background-color: #000;
  cursor: pointer;
}
.container-redes__red4 img {
  margin-top: 0.2rem;
}

.contact-dark {
  color: #fff;
}

.button-dark-form {
  color: #000;
  background-color: #fff;
}

/*# sourceMappingURL=estyle.css.map */
