@use 'global';

.container-header {
    width: 100%;
    min-width: 320px;
}
.nav-container {
    width: 100%;
    height: 100px;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include global.media-up(sm) {
        margin-top: 3rem;
   }    
    &__title {
        font-size: 3rem;
        margin-left: 4rem;
    }
    &__list {
        display: flex;
        width: 600px;
        gap: 8rem; 
        @include global.media-up(md) {
            display: none;
        }

    }
    &__list li {
        list-style: none;
    }
    &__list li a{
        text-decoration: none;
        font-size: global.$font-size-button-links;
        color: global.$primary-color;
        font-weight: 600;
    }
    &__list li a:hover {
        font-size: 1.8rem;
    }
}